<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Projeto final do Curso: Padronização de Projetos Web com Java EE e Spring Framework - DELLEAD">
    <meta name="author" content="Emanoel Evaristo">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>COOKBOOK :: Dellead</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <link th:href="@{/css/app.css}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-cash-register"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Dellead</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard"><i class="fas fa-fw fa-tachometer-alt"></i><span>Página Inicial</span></a>
            </li>
            
            <hr class="sidebar-divider">
            
            <li class="nav-item">
                <a class="nav-link" href="/admin/list"><i class="fas fa-lock"></i><span>Administradores</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/clientes/list"><i class="fas fa-users"></i><span>Clientes</span></a>
            </li>
            
            <li class="nav-item">
            	<a class="nav-link" href="/categorias/list"><i class="fas fa-fw fa-boxes"></i><span>Categorias</span></a>
            </li>
            
            <li class="nav-item">
            	<a class="nav-link" href="/produtos/list"><i class="fas fa-fw fa-chart-area"></i><span>Produtos</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/vendas/list"><i class="fas fa-fw fa-table"></i><span>Vendas</span></a>
            </li>
            
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow-sm">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="/" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="name">Usuário Logado</span>
                                <img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/admin/dashboard">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
	                                <button type="submit" class="dropdown-item">
	                                	<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
	                                	Sair
	                                </button>
                                </form>
                            </div>
                        </li>

                    </ul>

                </nav>
